The argument was: Apple is a hardware company.  Google is a data company.  Apple doesn't want to risk their hardware business over privacy issues.

Thus, based on business, Apple is a better bet on privacy.  Sensible argument.

This news suggests that Apple is pivoting to data.