### Eating for physical and mental health

* Way less meat.  I feel tired and sloggish after I eat it, and it doesn't even taste that good after you break the dependence.  Also, it helps make a better future for you to live in.  When I do eat meat, I treat it as medicine.  Organic, free range chicken for protein and zinc once a week — and eating the cooked bones for cartilage.  Organic, grass-fed beef twice a month, for iron.

* Lots of fat / protein, and cutting down on starches, sugar, bad carbs, and alcohol.  I get fat / protein from seeds, nuts, pumpkin + hemp flours, nut butters, skyr yogurt, eggs, and cheeses with a high ratio of fat/protein to carbs. (e.g. whey cheese, hard cheese.)

* The importance of probiotics for the gut (e.g. Kefir, probiotics pills).  If you're taking antibiotics, try to also balance with probiotics.  (Don't take them at the same time, or else the antibiotics will nullify the probiotics.  Take the probiotics a couple of hours when you have a few hours cushion between your last and your next rounds of antibiotics.)

* When I do drink alcohol, give the body a long break afterwards.  Per Nicholas Taleb and Antifragile, it's healthier to drink two nights in a row — and then give your body and liver a full week to recover — then to drink a little bit every other night. to drink big two nights in a row, then take two weeks off, then to drink cutting out carbs and sugars and alcohol, 

* Condensing the eating windows.  I try not to eat before 11am or later (often, waiting until 3pm even) — and I try to finish eating for the day by 7pm or 8pm.  This gives a lot more time, keeps the mind more capable (less body energy going towards digesting food, thinking about food, etc.), and gives plenty of time to digest before going to sleep.

* Going on a 24-72 hour fast once every few months.  The easiest way to do this is often to start this when travelling, when eating on planes / buses / trains / cars is inconvenient anyway.  Eat a big meal in the late afternoon / early evening to get things started.  Make it through breakfast the next day.  Make it through lunch the next day.  Drink plenty of water, with lemon and salt for electrolytes.  Make it through dinner the next day.  Make it till you reach your bed and fall asleep.  The next morning, you probably won't even wake up hungry.  At that point, you've already fasted for about 36 hours — and you can just repeat like the day before, to go for 60 or 72 hours.  When you eventually end the fast, start with fat and protein — pick the first meal carefully — and start small.  Then gradually work your way back up.  Enjoy the break fast, you deserve it.

* Drinking apple vinegar before a meal to lower insulin spikes (from the Glucose Goddess)

* Having a large container of water where I work, and drinking lots of water throughout the day.  (Often, when we're hungry, we're often actually just thirsty — and drinking water ensures we don't eat for no reason.)

* We have less willpower than we think (see the book *Atomic Habits*) — and instead of resisting temptation, or relying on willpower, to eat in a healthy way — it's better to design our environments so that it's easy to eat healthy.  Don't bring sweets, sugars, or unhealthy food into your house — if it's not around, that's the easiest way to not eat it.

* Drinking cinnamon in water, or with an initial meal, seems like it can have benefits on alertness and waking up the brain.

* Blueberries and other berries are important for health.  Sometimes, I just feel like my body needs blueberries, and I usually feel better after.

* Mixing ingredients — like yogurt, berries, powders and flours, nuts and seeds — together in a bowl, to save time on preparing food and make an easy go to.  Once you start adding in stuff like Reishi powder, Spirinula, Beet powder, Kakao, and seeing the colors change, it really feels like your making a medicine bowl for yourself.  After all, food is medicine.