This afternoon I saw a young teenager slamming her phone against a wooden post, stomping it into the ground, and asking "why won't you break?!"

The young person beside her asked, "what did your phone ever do to you?"