<h4 class="success">Subscription Confirmed!</h4>

Look forward to learning, exploring, and building together!

Feel free to reach me via email at sam@sambutler.us or on [Twitter](https://twitter.com/sambutlerUS).

<style>
.success {
    background: #d3fbeb;
    border-color: #10bf7a;
    color: #0c905c;
    padding: 10px;
    border: solid 0.5px;
    border-radius: 5px;
}
</style>