When people talk about the climate crisis, a major cause is lack of relationship with the land.

This stems back to episodes like this one:

Universalizing religions, without connection to place, colonizing place-based peoples & cultures.

Not just Christianity. Most universalizing religions — Buddhism, Christianity, Islam, Zionism, Capitalism — do this to different extents.

Japan’s history of Buddhist imperialism, as an example.  The slaughter of olive trees in Palestine, as another.

This extends to more-than-human and non-human cultures as well.

Any program that restricts a culture's food sovereignty or ability to live from the land.  Whether that's hunting and fishing bans, fortress conservation (like @WWF does), or installing muzzles to prevent foraging and force dependence.

What can we do about this?

Start building relationship with the land.

Side with the land, in the words of Tawinikay (h/t @PeterGelderloos).  We are bi-pedal animals, part of the life here too.

Even if we’re separated by walls and shelter, we’ll come back to the land and be in relationship again.  

We must, if we'll still be here as food and resources from other places start to dwindle.  As lands get salted, as forests burn.

If our land yearns for beavers and wetlands, are we prepared to let floodplains return here when the clouds bring rain?

If life is missing natural predators, leading to overgrazing, are we prepared to live among coyotes and predators again?

These are questions we will start embracing again.

How do we fight for the land, in a place where the connection has been severed?

How do we know the land, feel it and be part of it, when we have no experience with it?

It can start by connecting with people who know the history of this place.

They can often be found with native plant organizations in your area, and nurseries with strong reputations for restoration. (Wild seeds more than cultivars, where possible)

This can also include Indigenous people and organizations, if our settler ancestors did not displace them or kill them in this place here.

You can find the Indigenous peoples of this place using @ThisLand, and look up existing organizations, and find ways to support their work.

With respect, of course, given the histories and violence and betrayals involved.

You may also be able to find support from Master Naturalists in your area, and undergo free public training to become a Master Naturalist yourself.  This takes about a season, and will teach you about the local land, native plants, and invasive plants as well.

This can also start with getting to know your watershed.

Moving beyond municipal lines and properties, and embedding into the contours of the land.  

Understanding how water flows downhill here, and how it all works.

With some simple searches and emails, you should be able to find your watershed — and all the people who are part of it.  There may even be an organization doing work today.

Then, you can organize a simple gathering in your watershed to start connecting around this work in your area.  Here's a flyer you can use, to build on.

And once we're organizing in a more natural way, with the land and for the land — for our common survival, of us bi-peds and everything else we share this place with — we can start exploring what we might do together.

Native plants.  Food sovereignty.  LandBack.  Local economies.

Culture.  Education.  Communications.  Programs, cooperation.  Relationship — and common dependence — with the land here.

That can look like businesses, on our neighborhood streets.

It can look like guerilla gardening — growing food and native plants, according to the living logic of our watershed.

It can look community forager forests, filled with native edible plants, that feed us and pollinators and birds and all the life around us.

Because if we continuing driving pollinators to extinction -- with dead lawns, deforestration, paving over their natural worlds -- then the crops we rely on won't get pollinated.

Do you know what pollination by hand looks like?  How much do you think we can do this?

We are in co-dependence and relationship with our pollinators, and we need to pick up our end of the bargain in a big way.

What if climate resistance starts with food?

The right and culture that has been taken away from us, by colonization and religion and culture and economics and politics.

Relating to the land, building its capacity to support us and all the other animals here.

And learning how to survive here together, like we once knew ... and learn again.


Growing food, the right and practice that has been taken away from us by politics and economics and culture and history?


Growing food, to keep us nourished, while we take back land and spaces …


... and mend our worlds — gray and green, infrastructure and soil, human and more-than-human — for survival?



Food forests, with native edible plants for foraging. 



Do you know the story of Christmas trees? #ForDonar #NativeTrees

Collab with @UndeniableNtwrk 📜 ⤵️

When people talk about the climate crisis, a major cause is lack of relationship with the land we're part of.

This stems back to episodes like the one described in the video above:

Universalizing religions, without connection to place, colonizing place-based peoples & cultures.

This extends to more-than-human and non-human peoples as well.

For example, programs that restrict the ability of other animals to forage and subsist on the land they belong to.

Before going further, some acknowledgements:

Leanne Simpson on generative refusal.  Vine Deloria Jr.  @NickWEstes and New Amauta on @The_Red_Nation. @PeterGelderloos' work.  @MarkusKroger's work.  People on Twitter talking about Donar's Oak. :flex:

It's instructive to scroll through the timeline of Christian missions to get a sense.  Look at 378 AD -

"From India to Britain, all nations resound with the death and resurrection of Christ."

"All nations resound with the death and resurrection of Christ."

Not just Christianity.  Most universalizing religions — Buddhism, Christianity, Islam, Zionism, Capitalism, Fascism — do this to different extents.

Japan's history of Buddhist imperialism, as an example. Zionist cleansing of Palestine. Islamic conquests. Neoliberal exploitation.

Even Greek religion, once it went it travelled to Rome presumably.

What can we do about it?

Start building relationship with the land.  Side with the land, in the spirit of Tawinikay (h/t @PeterGelderloos), and explore what that means in practice.  Because we're part of it.

As bi-pedal animals, we're part of the land.  Even if we're separated by walls and shelter, we'll come back to it and be in relationship again.  And worship the trees and life around us as sacred again.  It always has been, it always will be.  It is.

Start knowing ...

... the land you belong to.  That can start with getting to know your watershed, and organizing in your watershed across or within municipal bounds and property lines.

It can also start with connecting with a native plant organization or nursery, and start learning about the life around you.

Do you know the story of Christmas trees? #ForDonar #NativeTrees

Collab with @UndeniableNtwrk 📜 ⤵️

When people talk about the climate crisis, a major root is lack of relationship with the land we're part of. 

That stems back to episodes like in the video above. 
Universalizing religions, without place, colonizing place-based cultures & peoples.  Capitalism does this too.

It's instructive to scroll through the timeline of Christian missions to get a sense.  Look at 378 AD -

"From India to Britain, all nations resound with the death and resurrection of Christ."

"All nations resound with the death and resurrection of Christ."

Not just Christianity.  Most universalizing religions — Buddhism, Christianity, Islam, Zionism, Capitalism, Fascism — do this to different extents.

Japan's history of Buddhist imperialism, as an example. Zionist cleansing of Palestine. Islamic conquests. Neoliberal exploitation.

Even Greek religion, once it settled in Rome presumably.

What can we do about it?

Start relating with the land. Side with the land, in the spirit of Tawinikay (h/t @PeterGelderloos).  Explore what that means in practice.  Because we're part of it, as bi-pedal animals ...

Even if we're separated by walls and shelter — we'll come back to it and be in relationship again.  And worship the trees and life around us as sacred.  And fight for it.

It always has been sacred.  It always will be.  It is ...

Knowing the land can start with a native plant organization or nursery, to learn about life around you and the history of how this place lives. You can also look for master naturalists in your area as a guide to get started —  and learn about invasive plants too!

This can also start with getting to know your watershed. Organizing across municipal lines and properties — starting with something as simple as a gathering.  Embedding our actions and thinking into the grooves of this place.

And once we're organizing in a more natural way ...

... we can explore what we might do together, and start getting into possibilities like this, in the context of our watersheds.

“watersheds – the ecological basis for a more bioregional vision", Max Ajl, 𝘼 𝙋𝙚𝙤𝙥𝙡𝙚'𝙨 𝙂𝙧𝙚𝙚𝙣 𝙉𝙚𝙬 𝘿𝙚𝙖𝙡