Do you know the story of Christmas trees? #ForDonar #NativeTrees

Collab with @UndeniableNtwrk 📜 ⤵️

When people talk about the climate crisis, a major root is lack of relationship with the land we're part of. 

That stems back to episodes like in the video above. 
Universalizing religions, without place, colonizing place-based cultures & peoples.  Capitalism does this too.

It's instructive to scroll through the timeline of Christian missions to get a sense.  Look at 378 AD -

"From India to Britain, all nations resound with the death and resurrection of Christ."

"All nations resound with the death and resurrection of Christ."

Not just Christianity.  Most universalizing religions — Buddhism, Christianity, Islam, Zionism, Capitalism, Fascism — do this to different extents.

Japan's history of Buddhist imperialism, as an example. Zionist cleansing of Palestine. Islamic conquests. Neoliberal exploitation.

Even Greek religion, once it went it travelled to Rome presumably.

What can we do about it?

Start building relationship with the land.  Side with the land, in the spirit of Tawinikay (h/t @PeterGelderloos), and explore what that means in practice.  Because we're part of it.

As bi-pedal animals, we're part of the land.  Even if we're separated by walls and shelter, we'll come back to it and be in relationship again.  And worship the trees and life around us as sacred again.  It always has been, it always will be.  It is.

Start knowing ...

... the land you belong to.  That can start with getting to know your watershed, and organizing in your watershed across or within municipal bounds and property lines.

It can also start with connecting with a native plant organization or nursery, and start learning about the life around you.

Do you know the story of Christmas trees? #ForDonar #NativeTrees

Collab with @UndeniableNtwrk 📜 ⤵️

When people talk about the climate crisis, a major root is lack of relationship with the land we're part of. 

That stems back to episodes like in the video above. 
Universalizing religions, without place, colonizing place-based cultures & peoples.  Capitalism does this too.

It's instructive to scroll through the timeline of Christian missions to get a sense.  Look at 378 AD -

"From India to Britain, all nations resound with the death and resurrection of Christ."

"All nations resound with the death and resurrection of Christ."

Not just Christianity.  Most universalizing religions — Buddhism, Christianity, Islam, Zionism, Capitalism, Fascism — do this to different extents.

Japan's history of Buddhist imperialism, as an example. Zionist cleansing of Palestine. Islamic conquests. Neoliberal exploitation.

Even Greek religion, once it settled in Rome presumably.

What can we do about it?

Start relating with the land. Side with the land, in the spirit of Tawinikay (h/t @PeterGelderloos).  Explore what that means in practice.  Because we're part of it, as bi-pedal animals ...

Even if we're separated by walls and shelter — we'll come back to it and be in relationship again.  And worship the trees and life around us as sacred.  And fight for it.

It always has been sacred.  It always will be.  It is ...

Knowing the land can start with a native plant organization or nursery, to learn about life around you and the history of how this place lives. You can also look for master naturalists in your area as a guide to get started —  and learn about invasive plants too!

This can also start with getting to know your watershed. Organizing across municipal lines and properties — starting with something as simple as a gathering.  Embedding our actions and thinking into the grooves of this place.

And once we're organizing in a more natural way ...

... we can explore what we might do together, and start getting into possibilities like this, in the context of our watersheds.

“watersheds – the ecological basis for a more bioregional vision", Max Ajl, 𝘼 𝙋𝙚𝙤𝙥𝙡𝙚'𝙨 𝙂𝙧𝙚𝙚𝙣 𝙉𝙚𝙬 𝘿𝙚𝙖𝙡