<article class="h-entry">
  <h1 class="p-name"><a class="u-url" href="https://sambutler.us/trustless-and-trust">Trust and Mutual Credit</a></h1>
<a class="u-like-of" href="https://twitter.com/cjenscook/status/1425736436616151043?s=20"></a>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">As the guy said &#39;trustless&#39; systems attract people who can&#39;t be trusted</p>&mdash; Chris Cook (@cjenscook) <a href="https://twitter.com/cjenscook/status/1425736436616151043?ref_src=twsrc%5Etfw">August 12, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p style="font-style: italic"> - Liked by <a rel="author" class="p-author h-card" href="https://sambutler.us">Sam Butler</a> (<time class="dt-published" datetime="2021-08-12 10:45:00+02:00">12<sup>th</sup> August 2021</time>)</p>
